# FastAPI и ASGI-сервер
fastapi
uvicorn[standard]

# Работа с базой данных
sqlalchemy
psycopg2-binary
alembic

# Валидация и настройки
pydantic
pydantic-settings

# Загрузка файлов
python-multipart

# JWT авторизация
python-jose[cryptography]

# Хеширование паролей
passlib[bcrypt]

python-dotenv
